bin
.cache
include/cool.def
include/cool-parenthesize.str
include/cool-Permissive.def
include/cool.generated.pp.af
include/cool.packed.esv
include/cool.pp.af
include/cool.rtg
include/cool.str
include/cool.tbl
include/cool.rtree
include/cool.ctree
include/cool.ctree.dep
include/cool.jar
editor/java/trans
editor/cool-*.generated.esv
syntax/cool*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
