<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="cool" description="cool" language="cool" derivedFrom="DynamicRoot" validator="cool.CoolValidator" validatorClass="cool.CoolValidator"></language>
       </extension>
       <extension id="cool.parser" name="cool Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="cool.CoolParseController" language="cool">
          </parser>
       </extension>    
    </plugin>