<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="aj, java" description="ejp" language="ejp" derivedFrom="DynamicRoot" validator="ejp.EjpValidator" validatorClass="ejp.EjpValidator"></language>
       </extension>
       <extension id="ejp.parser" name="ejp Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="ejp.EjpParseController" language="ejp">
          </parser>
       </extension>    
    </plugin>