<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="cool"
            description="cool"
            language="cool"
            derivedFrom="DynamicRoot"
            validator="COOL.CoolValidator"
            validatorClass="COOL.CoolValidator"
      ></language>
   </extension>
   <extension
         id="COOL.parser"
         name="cool Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="COOL.CoolParseController"
            language="cool">
      </parser>
   </extension>    
</plugin>
